<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GreenThreads
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">GreenThreads</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- CARGA DE IMAGEN - INICIO -->
  @if(imageReady()) {
    <ion-card>

      <img #image [src]="imageUrl()" alt="Imagen seleccionada" />
     
        <!-- CARGA DE PREDICCIÓN - INICIO -->
        @if(modelLoaded()) {

          <div class="ion-text-center ion-padding-top ion-padding-bottom">
            <!-- Registro de la función predict para el evento click -->
            <ion-button fill="outline" color="success" (click)="predict()">Predecir</ion-button>
    
          </div>
  

          <ion-list>

            <ion-item>
              <ion-icon name="list" slot="start"></ion-icon>
              <ion-label>Clases: {{ classLabels }}</ion-label>
            </ion-item>

            <!-- Itere sobre la lista de predicciones -->
            @for (item of predictions; track $index) {
              <ion-item>
                <ion-label class="ion-text-wrap">
                  <h3>{{item?.className}}</h3>
                  <p>Probabilidad: {{item?.probability | percent:'1.0-1'}}</p>
                </ion-label>
               
                @if(item?.className === 'Donar') {
                  <ion-button fill="clear" color="success" href="https://www.fundacionreinadequito.org/elropero" target="_blank">
                    Ver lugares para donar
                  </ion-button>
                }
                @if(item?.className === 'Reparar/Reciclar') {
                  <ion-button fill="clear" color="success" href="https://www.eldoblez.ec/" target="_blank">
                    Ver talleres de reparación
                  </ion-button>
                }
              </ion-item>
            }

          </ion-list>
        }
        <!-- CARGA DE PREDICCIÓN - FIN -->
    </ion-card>
  }
  <!-- CARGA DE IMAGEN - FIN -->       

  <!-- Referencia en plantilla #fileInput, callback para el evento change y oculte el elemento -->
  <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" hidden />

  <!-- Disparo del evento click de fileInput -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="fileInput.click()">
      <ion-icon name="cloud-upload-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>