<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>
      <div class="logo">
        <img src="assets/images/logo-app.png" alt="GreenThread Logo">
      </div>
      <ion-card-title class="titulo">GreenThreads</ion-card-title>
    </ion-card-header>
    <ion-card-subtitle>Transformando la forma en que gestionamos la ropa usada</ion-card-subtitle>

    <ion-card-content>
      <div class="estadisticas">
        <div class="items-estadisticas">
          <h2>2,500+</h2>
          <p>Prendas Recicladas</p>
        </div>
        <div class="items-estadisticas">
          <h2>1,200+</h2>
          <p>Usuarios activos</p>
        </div>
        <div class="items-estadisticas">
          <h2>500+</h2>
          <p>Donaciones Exitosas</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="servicios">
        <div class="servicio-item">
          <ion-icon [icon]="leafIcon" size="large"></ion-icon>
          <h3>Impacto ambiental</h3>
          <p>Reducimos el desperdicio textil y promovemos la sostenibilidad de moda.</p>
        </div>
      
        <div class="servicio-item">
          <ion-icon [icon]="analyticsIcon" size="large"></ion-icon>
          <h3>Clasificación inteligente</h3>
          <p>Nuestra tecnología determina el mejor destino de cada prenda.</p>
        </div>
      
        <div class="servicio-item">
          <ion-icon [icon]="peopleIcon" size="large"></ion-icon>
          <h3>Ayuda Comunitaria</h3>
          <p>Conectamos donantes con personas que necesitan las prendas.</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Cómo funciona?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="pasos">
        <div class="paso-item">
          <div class="paso-numero">1</div>
          <h3>Sube tu prenda</h3>
          <p>Toma una foto de la prenda que deseas clasificar.</p>
        </div>

        <div class="paso-item">
          <div class="paso-numero">2</div>
          <h3>Obtén recomendaciones</h3>
          <p>Nuestra IA determina el mejor destino.</p>
        </div>

        <div class="paso-item">
          <div class="paso-numero">3</div>
          <h3>Genera Impacto</h3>
          <p>Dona, repara o recicla según la recomendación.</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>