<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>

      <ion-card-title class="titulo">Descripción de la App</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      <p id="descripcion">
        GreenThread es una aplicación para los hogares de la comunidad que permite clasificar
        ropa en desuso para promover las prácticas sostenibles. Del mismo modo la aplicación
        permite a los usuarios encontrar el mejor destino para cada pieza, ya sea donarla a 
        quienes la necesitan, enviarla a talleres para reparar o a centros de reciclaje textil.
        GreenThread fomenta el uso prolongado de prendas para reducir el impacto ambiental al 
        evitar el desperdicio de textiles y promoviendo el consumo responsable entre sus usuarios.
      </p>
    </ion-card-content>

  </ion-card>

</ion-content>